USE [/*DatabaseName*/]
GO
/****** Object:  Table [dbo].[Citizens]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citizens](
	[Citizen_ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[National_ID] [char](11) NOT NULL,
	[Gender] [char](1) NULL,
	[BirthDate] [date] NULL,
	[City] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Citizen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Card_ID] [int] IDENTITY(1,1) NOT NULL,
	[Citizen_ID] [int] NULL,
	[CardNumber] [char](5) NOT NULL,
	[IssueDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[CurrentBalance] [decimal](10, 2) NULL,
	[MonthlyLimit] [decimal](10, 2) NULL,
	[Status_] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[LastUsedDate] [datetime] NULL,
	[CardType_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Card_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_ID] [int] IDENTITY(1,1) NOT NULL,
	[Card_ID] [int] NULL,
	[Vendor_ID] [int] NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[City] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](20) NULL,
	[PreviousBalance] [decimal](10, 2) NULL,
	[NewBalance] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsFraudSuspected] [bit] NULL,
	[IPAddress] [nvarchar](50) NULL,
	[DeviceInfo] [nvarchar](100) NULL,
	[RuleViolations] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaction_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segments]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Segments](
	[Segment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Citizen_ID] [int] NULL,
	[SegmentName] [nvarchar](50) NULL,
	[BasedOnMonth] [int] NULL,
	[BasedOnYear] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Segment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserSegmentation]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_UserSegmentation] AS
SELECT
    s.Citizen_ID,
    c.FullName,
    c.City AS RegisteredCity,
    s.SegmentName,
    s.BasedOnMonth,
    s.BasedOnYear,
    s.CreatedAt,
    COUNT(t.Transaction_ID) AS TransactionCount,
    SUM(CASE WHEN t.Status = 'Completed' THEN t.Amount ELSE 0 END) AS TotalSpent
FROM Segments s
JOIN Citizens c ON s.Citizen_ID = c.Citizen_ID
LEFT JOIN Cards cd ON cd.Citizen_ID = c.Citizen_ID
LEFT JOIN Transactions t ON t.Card_ID = cd.Card_ID
    AND MONTH(t.TransactionDate) = s.BasedOnMonth
    AND YEAR(t.TransactionDate) = s.BasedOnYear
GROUP BY
    s.Citizen_ID, c.FullName, c.City, s.SegmentName, s.BasedOnMonth, s.BasedOnYear, s.CreatedAt;

GO
/****** Object:  Table [dbo].[Alerts]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Alert_ID] [int] IDENTITY(1,1) NOT NULL,
	[Citizen_ID] [int] NULL,
	[AlertDate] [datetime] NULL,
	[AlertType] [nvarchar](50) NULL,
	[Message] [nvarchar](300) NULL,
	[IsSent] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Alert_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BalanceHistory]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BalanceHistory](
	[History_ID] [int] IDENTITY(1,1) NOT NULL,
	[Card_ID] [int] NOT NULL,
	[Citizen_ID] [int] NULL,
	[CardNumber] [char](5) NULL,
	[OldBalance] [decimal](10, 2) NULL,
	[LoggedAt] [datetime] NULL,
	[LogMonth] [char](7) NULL,
	[NewBalance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardTypes]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardTypes](
	[CardType_ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[DefaultMonthlyLimit] [decimal](10, 2) NULL,
	[AllowedCategories] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flags]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flags](
	[Flag_ID] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_ID] [int] NULL,
	[Rule_ID] [int] NULL,
	[Card_ID] [int] NULL,
	[ViolationDate] [datetime] NULL,
	[ViolationDetail] [nvarchar](200) NULL,
	[Resolved] [bit] NULL,
	[Severity] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Flag_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyCardSpending]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyCardSpending](
	[CardSpending_ID] [int] IDENTITY(1,1) NOT NULL,
	[ReportMonth] [char](7) NOT NULL,
	[Card_ID] [int] NOT NULL,
	[CardNumber] [char](5) NOT NULL,
	[SpendingAmount] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardSpending_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyCredits]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyCredits](
	[Credit_ID] [int] IDENTITY(1,1) NOT NULL,
	[Card_ID] [int] NOT NULL,
	[Citizen_ID] [int] NOT NULL,
	[LimitAmount] [decimal](10, 2) NOT NULL,
	[BonusAmount] [decimal](10, 2) NULL,
	[TotalAmount]  AS ([LimitAmount]+[BonusAmount]) PERSISTED,
	[EffectiveMonth] [int] NOT NULL,
	[EffectiveYear] [int] NOT NULL,
	[IsRegular] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Credit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyVendorSpending]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyVendorSpending](
	[VendorSpending_ID] [int] IDENTITY(1,1) NOT NULL,
	[ReportMonth] [char](7) NOT NULL,
	[Card_ID] [int] NOT NULL,
	[Vendor_ID] [int] NOT NULL,
	[CardNumber] [char](5) NOT NULL,
	[VendorName] [nvarchar](100) NOT NULL,
	[SpendingAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorSpending_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyViolations]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyViolations](
	[Citizen_ID] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[ViolationCount] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[Card_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionRules]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionRules](
	[Rule_ID] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [nvarchar](100) NULL,
	[Description_] [nvarchar](200) NULL,
	[RuleType] [nvarchar](50) NULL,
	[RuleValue] [nvarchar](100) NULL,
	[Severity] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RuleExpression] [nvarchar](300) NULL,
	[AppliesToCardType_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Citizen_ID] [int] NOT NULL,
	[National_ID] [char](11) NOT NULL,
	[Password] [nvarchar](16) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Vendor_ID] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Address_] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([Alert_ID], [Citizen_ID], [AlertDate], [AlertType], [Message], [IsSent]) VALUES (1, 14, CAST(N'2025-07-23T15:31:00.987' AS DateTime), N'Kural İhlali', N'Sayın kullanıcı, 23.07.2025 15:31 tarihinde yaptığınız işlem şu ihlalleri içeriyor: Günlük İşlem Limiti', 1)
INSERT [dbo].[Alerts] ([Alert_ID], [Citizen_ID], [AlertDate], [AlertType], [Message], [IsSent]) VALUES (2, 21, CAST(N'2025-07-23T16:00:44.280' AS DateTime), N'Kural İhlali', N'Sayın kullanıcı, 23.07.2025 16:00 tarihinde yaptığınız işlem şu ihlalleri içeriyor: Farklı Şehirde İşlem Engeli, İzinsiz kategori: Manav', 1)
INSERT [dbo].[Alerts] ([Alert_ID], [Citizen_ID], [AlertDate], [AlertType], [Message], [IsSent]) VALUES (3, 22, CAST(N'2025-07-23T16:38:34.907' AS DateTime), N'Kural İhlali', N'Sayın kullanıcı, 23.07.2025 16:38 tarihinde yaptığınız işlem şu ihlalleri içeriyor: Aylık Harcama Limiti', 1)
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[BalanceHistory] ON 

INSERT [dbo].[BalanceHistory] ([History_ID], [Card_ID], [Citizen_ID], [CardNumber], [OldBalance], [LoggedAt], [LogMonth], [NewBalance]) VALUES (1, 1, 4, N'00004', CAST(800.00 AS Decimal(10, 2)), CAST(N'2025-07-28T19:24:30.860' AS DateTime), N'2025-07', CAST(3800.00 AS Decimal(10, 2)))
INSERT [dbo].[BalanceHistory] ([History_ID], [Card_ID], [Citizen_ID], [CardNumber], [OldBalance], [LoggedAt], [LogMonth], [NewBalance]) VALUES (2, 2, 8, N'00008', CAST(144.36 AS Decimal(10, 2)), CAST(N'2025-07-28T19:24:30.860' AS DateTime), N'2025-07', CAST(3444.36 AS Decimal(10, 2)))
INSERT [dbo].[BalanceHistory] ([History_ID], [Card_ID], [Citizen_ID], [CardNumber], [OldBalance], [LoggedAt], [LogMonth], [NewBalance]) VALUES (3, 3, 12, N'00012', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-07-28T19:24:30.860' AS DateTime), N'2025-07', CAST(3400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BalanceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([Card_ID], [Citizen_ID], [CardNumber], [IssueDate], [ExpiryDate], [CurrentBalance], [MonthlyLimit], [Status_], [CreatedAt], [LastUsedDate], [CardType_ID]) VALUES (1, 4, N'00004', CAST(N'2025-07-18' AS Date), CAST(N'2025-08-18' AS Date), CAST(6175.64 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'Active', CAST(N'2025-07-18T11:43:10.807' AS DateTime), CAST(N'2025-08-13T19:48:59.000' AS DateTime), 1)
INSERT [dbo].[Cards] ([Card_ID], [Citizen_ID], [CardNumber], [IssueDate], [ExpiryDate], [CurrentBalance], [MonthlyLimit], [Status_], [CreatedAt], [LastUsedDate], [CardType_ID]) VALUES (2, 8, N'00008', CAST(N'2025-07-18' AS Date), CAST(N'2025-08-18' AS Date), CAST(5749.38 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'Active', CAST(N'2025-07-18T11:43:10.807' AS DateTime), CAST(N'2025-08-04T18:59:19.000' AS DateTime), 1)
INSERT [dbo].[Cards] ([Card_ID], [Citizen_ID], [CardNumber], [IssueDate], [ExpiryDate], [CurrentBalance], [MonthlyLimit], [Status_], [CreatedAt], [LastUsedDate], [CardType_ID]) VALUES (3, 12, N'00012', CAST(N'2025-07-18' AS Date), CAST(N'2025-08-18' AS Date), CAST(6222.31 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'Active', CAST(N'2025-07-18T11:43:10.807' AS DateTime), CAST(N'2025-08-03T20:41:41.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[CardTypes] ON 

INSERT [dbo].[CardTypes] ([CardType_ID], [TypeName], [Description], [DefaultMonthlyLimit], [AllowedCategories], [IsActive], [CreatedAt]) VALUES (1, N'Gıda', N'Yiyecek ve temel ihtiyaç alışverişi için', CAST(1000.00 AS Decimal(10, 2)), N'Market,Bakkal,Manav', 1, CAST(N'2025-07-18T09:21:11.100' AS DateTime))
INSERT [dbo].[CardTypes] ([CardType_ID], [TypeName], [Description], [DefaultMonthlyLimit], [AllowedCategories], [IsActive], [CreatedAt]) VALUES (2, N'Kira', N'Ev kira ödemeleri için', CAST(1500.00 AS Decimal(10, 2)), N'Kira,Emlak', 1, CAST(N'2025-07-18T09:21:11.100' AS DateTime))
INSERT [dbo].[CardTypes] ([CardType_ID], [TypeName], [Description], [DefaultMonthlyLimit], [AllowedCategories], [IsActive], [CreatedAt]) VALUES (3, N'Sağlık', N'Sağlık harcamaları için', CAST(1200.00 AS Decimal(10, 2)), N'Eczane,Hastane,Diş kliniği', 1, CAST(N'2025-07-18T09:21:11.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[CardTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Citizens] ON 

INSERT [dbo].[Citizens] ([Citizen_ID], [FullName], [National_ID], [Gender], [BirthDate], [City], [PhoneNumber], [Email], [IsActive], [CreatedAt]) VALUES (1, N'Ahmet Yılmaz', N'12345678901', N'E', CAST(N'1985-06-15' AS Date), N'İstanbul', N'05551112233', N'ahmet.yilmaz@example.com', 1, CAST(N'2025-07-17T17:20:04.453' AS DateTime))
INSERT [dbo].[Citizens] ([Citizen_ID], [FullName], [National_ID], [Gender], [BirthDate], [City], [PhoneNumber], [Email], [IsActive], [CreatedAt]) VALUES (2, N'Ayşe Demir', N'12345678902', N'K', CAST(N'1990-03-22' AS Date), N'Ankara', N'05552223344', N'ayse.demir@example.com', 1, CAST(N'2025-07-17T17:20:04.453' AS DateTime))
INSERT [dbo].[Citizens] ([Citizen_ID], [FullName], [National_ID], [Gender], [BirthDate], [City], [PhoneNumber], [Email], [IsActive], [CreatedAt]) VALUES (3, N'Mehmet Kaya', N'12345678903', N'E', CAST(N'1978-11-03' AS Date), N'İzmir', N'05553334455', N'mehmet.kaya@example.com', 1, CAST(N'2025-07-17T17:20:04.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[Citizens] OFF
GO
SET IDENTITY_INSERT [dbo].[Flags] ON 

INSERT [dbo].[Flags] ([Flag_ID], [Transaction_ID], [Rule_ID], [Card_ID], [ViolationDate], [ViolationDetail], [Resolved], [Severity]) VALUES (195, 365, 7, 14, CAST(N'2025-07-23T13:30:41.140' AS DateTime), N'İzinsiz kategori: Manav', 0, N'Medium')
INSERT [dbo].[Flags] ([Flag_ID], [Transaction_ID], [Rule_ID], [Card_ID], [ViolationDate], [ViolationDetail], [Resolved], [Severity]) VALUES (196, 366, 7, 14, CAST(N'2025-07-23T13:32:10.557' AS DateTime), N'İzinsiz kategori: Manav', 0, N'Medium')
INSERT [dbo].[Flags] ([Flag_ID], [Transaction_ID], [Rule_ID], [Card_ID], [ViolationDate], [ViolationDetail], [Resolved], [Severity]) VALUES (197, 367, 7, 14, CAST(N'2025-07-23T13:32:26.697' AS DateTime), N'İzinsiz kategori: Emlak', 0, N'Medium')
SET IDENTITY_INSERT [dbo].[Flags] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyCardSpending] ON 

INSERT [dbo].[MonthlyCardSpending] ([CardSpending_ID], [ReportMonth], [Card_ID], [CardNumber], [SpendingAmount], [Note]) VALUES (63, N'2025-08', 1, N'00004', CAST(824.36 AS Decimal(10, 2)), N'Para harcanmıştır (transactions toplamından hesaplandı)')
INSERT [dbo].[MonthlyCardSpending] ([CardSpending_ID], [ReportMonth], [Card_ID], [CardNumber], [SpendingAmount], [Note]) VALUES (64, N'2025-08', 2, N'00008', CAST(994.98 AS Decimal(10, 2)), N'Para harcanmıştır (transactions toplamından hesaplandı)')
INSERT [dbo].[MonthlyCardSpending] ([CardSpending_ID], [ReportMonth], [Card_ID], [CardNumber], [SpendingAmount], [Note]) VALUES (65, N'2025-08', 3, N'00012', CAST(477.69 AS Decimal(10, 2)), N'Para harcanmıştır (transactions toplamından hesaplandı)')
SET IDENTITY_INSERT [dbo].[MonthlyCardSpending] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyCredits] ON 

INSERT [dbo].[MonthlyCredits] ([Credit_ID], [Card_ID], [Citizen_ID], [LimitAmount], [BonusAmount], [EffectiveMonth], [EffectiveYear], [IsRegular], [CreatedAt]) VALUES (1, 2, 8, CAST(1000.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 7, 2025, 1, CAST(N'2025-07-30T10:31:46.067' AS DateTime))
INSERT [dbo].[MonthlyCredits] ([Credit_ID], [Card_ID], [Citizen_ID], [LimitAmount], [BonusAmount], [EffectiveMonth], [EffectiveYear], [IsRegular], [CreatedAt]) VALUES (2, 3, 12, CAST(1000.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 7, 2025, 1, CAST(N'2025-07-30T10:31:46.067' AS DateTime))
INSERT [dbo].[MonthlyCredits] ([Credit_ID], [Card_ID], [Citizen_ID], [LimitAmount], [BonusAmount], [EffectiveMonth], [EffectiveYear], [IsRegular], [CreatedAt]) VALUES (3, 4, 16, CAST(1000.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 7, 2025, 1, CAST(N'2025-07-30T10:31:46.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[MonthlyCredits] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyVendorSpending] ON 

INSERT [dbo].[MonthlyVendorSpending] ([VendorSpending_ID], [ReportMonth], [Card_ID], [Vendor_ID], [CardNumber], [VendorName], [SpendingAmount]) VALUES (1, N'2025-08', 21, 294, N'00021', N'Trabzon Kira', CAST(1314.91 AS Decimal(10, 2)))
INSERT [dbo].[MonthlyVendorSpending] ([VendorSpending_ID], [ReportMonth], [Card_ID], [Vendor_ID], [CardNumber], [VendorName], [SpendingAmount]) VALUES (2, N'2025-08', 34, 276, N'00025', N'Sivas Kırtasiye', CAST(627.12 AS Decimal(10, 2)))
INSERT [dbo].[MonthlyVendorSpending] ([VendorSpending_ID], [ReportMonth], [Card_ID], [Vendor_ID], [CardNumber], [VendorName], [SpendingAmount]) VALUES (3, N'2025-08', 12, 208, N'00006', N'Konya Kırtasiye', CAST(235.69 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MonthlyVendorSpending] OFF
GO
INSERT [dbo].[MonthlyViolations] ([Citizen_ID], [Year], [Month], [ViolationCount], [LastUpdated], [Card_ID]) VALUES (10, 2025, 8, 1, CAST(N'2025-08-29T13:17:41.380' AS DateTime), 13)
INSERT [dbo].[MonthlyViolations] ([Citizen_ID], [Year], [Month], [ViolationCount], [LastUpdated], [Card_ID]) VALUES (8, 2025, 8, 2, CAST(N'2025-08-29T13:17:41.380' AS DateTime), 2)
INSERT [dbo].[MonthlyViolations] ([Citizen_ID], [Year], [Month], [ViolationCount], [LastUpdated], [Card_ID]) VALUES (16, 2025, 8, 1, CAST(N'2025-08-29T13:17:41.380' AS DateTime), 4)
GO
SET IDENTITY_INSERT [dbo].[Segments] ON 

INSERT [dbo].[Segments] ([Segment_ID], [Citizen_ID], [SegmentName], [BasedOnMonth], [BasedOnYear], [CreatedAt]) VALUES (669, 1, N'Düzenli', 7, 2025, CAST(N'2025-07-31T21:13:24.610' AS DateTime))
INSERT [dbo].[Segments] ([Segment_ID], [Citizen_ID], [SegmentName], [BasedOnMonth], [BasedOnYear], [CreatedAt]) VALUES (670, 2, N'Riskli', 7, 2025, CAST(N'2025-07-31T21:13:24.610' AS DateTime))
INSERT [dbo].[Segments] ([Segment_ID], [Citizen_ID], [SegmentName], [BasedOnMonth], [BasedOnYear], [CreatedAt]) VALUES (671, 3, N'Düzenli', 7, 2025, CAST(N'2025-07-31T21:13:24.610' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Segments] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionRules] ON 

INSERT [dbo].[TransactionRules] ([Rule_ID], [RuleName], [Description_], [RuleType], [RuleValue], [Severity], [IsActive], [CreatedAt], [RuleExpression], [AppliesToCardType_ID]) VALUES (1, N'Günlük İşlem Limiti', N'Bir kart bir günde en fazla 3 işlem yapabilir.', N'DailyLimit', N'4', N'Medium', 1, CAST(N'2025-07-18T14:22:38.357' AS DateTime), N'TransactionCountPerDay <= 3', NULL)
INSERT [dbo].[TransactionRules] ([Rule_ID], [RuleName], [Description_], [RuleType], [RuleValue], [Severity], [IsActive], [CreatedAt], [RuleExpression], [AppliesToCardType_ID]) VALUES (2, N'Aylık Harcama Limiti', N'Aylık harcama, kart türüne özel limitini aşamaz.', N'MonthlyLimit', N'USE_CARDTYPE_LIMIT', N'High', 1, CAST(N'2025-07-18T14:22:38.357' AS DateTime), N'MonthlySum <= Cards.MonthlyLimit', NULL)
INSERT [dbo].[TransactionRules] ([Rule_ID], [RuleName], [Description_], [RuleType], [RuleValue], [Severity], [IsActive], [CreatedAt], [RuleExpression], [AppliesToCardType_ID]) VALUES (3, N'Farklı Şehirde İşlem Engeli', N'Kullanıcının şehri haricinde farklı şehirde kart kullanamaz.', N'LocationCheck', N'TRUE', N'High', 1, CAST(N'2025-07-18T14:22:38.357' AS DateTime), N'UniqueCityCountPerDay = 1', NULL)
SET IDENTITY_INSERT [dbo].[TransactionRules] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Transaction_ID], [Card_ID], [Vendor_ID], [TransactionDate], [Amount], [City], [TransactionType], [PreviousBalance], [NewBalance], [Status], [CreatedAt], [IsFraudSuspected], [IPAddress], [DeviceInfo], [RuleViolations]) VALUES (363, 14, 121, CAST(N'2025-07-23T13:24:09.883' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'Eskişehir', N'Purchase', CAST(100.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-07-23T13:24:09.883' AS DateTime), 0, NULL, NULL, N'')
INSERT [dbo].[Transactions] ([Transaction_ID], [Card_ID], [Vendor_ID], [TransactionDate], [Amount], [City], [TransactionType], [PreviousBalance], [NewBalance], [Status], [CreatedAt], [IsFraudSuspected], [IPAddress], [DeviceInfo], [RuleViolations]) VALUES (364, 14, 121, CAST(N'2025-07-23T13:26:53.360' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'Eskişehir', N'Purchase', CAST(90.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), N'Completed', CAST(N'2025-07-23T13:26:53.360' AS DateTime), 0, NULL, NULL, N'')
INSERT [dbo].[Transactions] ([Transaction_ID], [Card_ID], [Vendor_ID], [TransactionDate], [Amount], [City], [TransactionType], [PreviousBalance], [NewBalance], [Status], [CreatedAt], [IsFraudSuspected], [IPAddress], [DeviceInfo], [RuleViolations]) VALUES (365, 14, 121, CAST(N'2025-07-23T13:30:41.140' AS DateTime), CAST(10.00 AS Decimal(10, 2)), N'Eskişehir', N'Purchase', CAST(80.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), N'Failed', CAST(N'2025-07-23T13:30:41.140' AS DateTime), 1, NULL, NULL, N'İzinsiz kategori: Manav')
GO
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [Citizen_ID], [National_ID], [Password], [Role]) VALUES (1, 1, N'12345678901', N'defaultPassword', N'user')
INSERT [dbo].[Users] ([User_ID], [Citizen_ID], [National_ID], [Password], [Role]) VALUES (2, 2, N'12345678902', N'defaultPassword', N'user')
INSERT [dbo].[Users] ([User_ID], [Citizen_ID], [National_ID], [Password], [Role]) VALUES (3, 3, N'12345678903', N'defaultPassword', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([Vendor_ID], [VendorName], [Category], [City], [Address_], [IsActive]) VALUES (1, N'Adana Market', N'Market', N'Adana', N'Cumhuriyet Mah. No:53', 1)
INSERT [dbo].[Vendors] ([Vendor_ID], [VendorName], [Category], [City], [Address_], [IsActive]) VALUES (2, N'Adana Kira', N'Kira', N'Adana', N'Atatürk Mah. No:31', 1)
INSERT [dbo].[Vendors] ([Vendor_ID], [VendorName], [Category], [City], [Address_], [IsActive]) VALUES (3, N'Adana Eczane', N'Eczane', N'Adana', N'Barbaros Mah. No:29', 1)
GO
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BalanceHistory_Card_Month]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[BalanceHistory] ADD  CONSTRAINT [UQ_BalanceHistory_Card_Month] UNIQUE NONCLUSTERED 
(
	[Card_ID] ASC,
	[LogMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cards__A4E9FFE9A6665557]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[Cards] ADD UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CardType__D4E7DFA8539B544C]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[CardTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Citizens__2C5787848D6A3976]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[Citizens] ADD UNIQUE NONCLUSTERED 
(
	[National_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__2C578784ACC7B716]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[National_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__5F5010CF7FCD49AE]    Script Date: 5.02.2026 02:40:00 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Citizen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT (getdate()) FOR [AlertDate]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT ((0)) FOR [IsSent]
GO
ALTER TABLE [dbo].[BalanceHistory] ADD  DEFAULT (getdate()) FOR [LoggedAt]
GO
ALTER TABLE [dbo].[Cards] ADD  DEFAULT ((0)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[Cards] ADD  DEFAULT ('Active') FOR [Status_]
GO
ALTER TABLE [dbo].[Cards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CardTypes] ADD  DEFAULT ((1000.00)) FOR [DefaultMonthlyLimit]
GO
ALTER TABLE [dbo].[CardTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CardTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Citizens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Flags] ADD  DEFAULT (getdate()) FOR [ViolationDate]
GO
ALTER TABLE [dbo].[Flags] ADD  DEFAULT ((0)) FOR [Resolved]
GO
ALTER TABLE [dbo].[MonthlyCredits] ADD  DEFAULT ((0)) FOR [BonusAmount]
GO
ALTER TABLE [dbo].[MonthlyCredits] ADD  DEFAULT ((0)) FOR [IsRegular]
GO
ALTER TABLE [dbo].[MonthlyCredits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransactionRules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TransactionRules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [IsFraudSuspected]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Alerts]  WITH NOCHECK ADD FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[BalanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_BalanceHistory_CardID] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[BalanceHistory] CHECK CONSTRAINT [FK_BalanceHistory_CardID]
GO
ALTER TABLE [dbo].[BalanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_BalanceHistory_CardNumber] FOREIGN KEY([CardNumber])
REFERENCES [dbo].[Cards] ([CardNumber])
GO
ALTER TABLE [dbo].[BalanceHistory] CHECK CONSTRAINT [FK_BalanceHistory_CardNumber]
GO
ALTER TABLE [dbo].[BalanceHistory]  WITH CHECK ADD  CONSTRAINT [FK_BalanceHistory_CitizenID] FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[BalanceHistory] CHECK CONSTRAINT [FK_BalanceHistory_CitizenID]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD FOREIGN KEY([CardType_ID])
REFERENCES [dbo].[CardTypes] ([CardType_ID])
GO
ALTER TABLE [dbo].[Cards]  WITH NOCHECK ADD FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[Flags]  WITH NOCHECK ADD FOREIGN KEY([Rule_ID])
REFERENCES [dbo].[TransactionRules] ([Rule_ID])
GO
ALTER TABLE [dbo].[Flags]  WITH NOCHECK ADD FOREIGN KEY([Transaction_ID])
REFERENCES [dbo].[Transactions] ([Transaction_ID])
GO
ALTER TABLE [dbo].[MonthlyCardSpending]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCardSpending_Cards] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[MonthlyCardSpending] CHECK CONSTRAINT [FK_MonthlyCardSpending_Cards]
GO
ALTER TABLE [dbo].[MonthlyCredits]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCredits_Card] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[MonthlyCredits] CHECK CONSTRAINT [FK_MonthlyCredits_Card]
GO
ALTER TABLE [dbo].[MonthlyCredits]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCredits_Citizen] FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[MonthlyCredits] CHECK CONSTRAINT [FK_MonthlyCredits_Citizen]
GO
ALTER TABLE [dbo].[MonthlyVendorSpending]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCardVendorSpending_Cards] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[MonthlyVendorSpending] CHECK CONSTRAINT [FK_MonthlyCardVendorSpending_Cards]
GO
ALTER TABLE [dbo].[MonthlyVendorSpending]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCardVendorSpending_Vendors] FOREIGN KEY([Vendor_ID])
REFERENCES [dbo].[Vendors] ([Vendor_ID])
GO
ALTER TABLE [dbo].[MonthlyVendorSpending] CHECK CONSTRAINT [FK_MonthlyCardVendorSpending_Vendors]
GO
ALTER TABLE [dbo].[MonthlyViolations]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyViolations_Cards] FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[MonthlyViolations] CHECK CONSTRAINT [FK_MonthlyViolations_Cards]
GO
ALTER TABLE [dbo].[MonthlyViolations]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyViolations_Citizens] FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[MonthlyViolations] CHECK CONSTRAINT [FK_MonthlyViolations_Citizens]
GO
ALTER TABLE [dbo].[Segments]  WITH NOCHECK ADD FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[TransactionRules]  WITH CHECK ADD FOREIGN KEY([AppliesToCardType_ID])
REFERENCES [dbo].[CardTypes] ([CardType_ID])
GO
ALTER TABLE [dbo].[Transactions]  WITH NOCHECK ADD FOREIGN KEY([Card_ID])
REFERENCES [dbo].[Cards] ([Card_ID])
GO
ALTER TABLE [dbo].[Transactions]  WITH NOCHECK ADD FOREIGN KEY([Vendor_ID])
REFERENCES [dbo].[Vendors] ([Vendor_ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Citizen_ID])
REFERENCES [dbo].[Citizens] ([Citizen_ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([National_ID])
REFERENCES [dbo].[Citizens] ([National_ID])
GO
/****** Object:  StoredProcedure [dbo].[AddMonthlyAllowance]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddMonthlyAllowance]
    @BonusRate DECIMAL(4,2) = 0.10  -- Default %10 bonus
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentLogMonth CHAR(7) = FORMAT(GETDATE(), 'yyyy-MM');
    DECLARE @CurrentMonth INT = MONTH(GETDATE());
    DECLARE @CurrentYear INT = YEAR(GETDATE());

    -- 1. Tüm aktif ve segmenti olan kartların (Düzenli ve düzensiz) eski bakiyesini BalanceHistory'ye ekle
    INSERT INTO BalanceHistory (Card_ID, Citizen_ID, CardNumber, OldBalance, LogMonth, LoggedAt)
    SELECT
        C.Card_ID,
        C.Citizen_ID,
        C.CardNumber,
        C.CurrentBalance,
        @CurrentLogMonth,
        GETDATE()
    FROM Cards C
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    INNER JOIN Citizens CI ON C.Citizen_ID = CI.Citizen_ID
    WHERE C.Status_ = 'Active'
      AND CI.IsActive = 1
      AND NOT EXISTS (
        SELECT 1 FROM BalanceHistory BH
        WHERE BH.Card_ID = C.Card_ID
          AND BH.LogMonth = @CurrentLogMonth
    );

    -- 2. Düzenli segmentte olanlara limit + bonus ekle
    UPDATE C
    SET C.CurrentBalance = C.CurrentBalance + CT.DefaultMonthlyLimit + (CT.DefaultMonthlyLimit * @BonusRate)
    FROM Cards C
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    INNER JOIN Citizens CI ON C.Citizen_ID = CI.Citizen_ID
    INNER JOIN Segments S ON CI.Citizen_ID = S.Citizen_ID
        AND S.BasedOnMonth = @CurrentMonth
        AND S.BasedOnYear = @CurrentYear
        AND S.SegmentName = 'Düzenli'
    WHERE C.Status_ = 'Active'
      AND CI.IsActive = 1;

    -- 3. Düzensiz segmentte olanlara sadece limit ekle
    UPDATE C
    SET C.CurrentBalance = C.CurrentBalance + CT.DefaultMonthlyLimit
    FROM Cards C
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    INNER JOIN Citizens CI ON C.Citizen_ID = CI.Citizen_ID
    LEFT JOIN Segments S ON CI.Citizen_ID = S.Citizen_ID
        AND S.BasedOnMonth = @CurrentMonth
        AND S.BasedOnYear = @CurrentYear
    WHERE C.Status_ = 'Active'
      AND CI.IsActive = 1
      AND (S.SegmentName <> 'Düzenli' OR S.SegmentName IS NULL);

    -- 4. Bakiyeler güncellendikten sonra, ilgili BalanceHistory kayıtlarını yeni bakiye ile güncelle
    UPDATE BH
    SET BH.NewBalance = C.CurrentBalance
    FROM BalanceHistory BH
    INNER JOIN (
        SELECT Card_ID, MAX(History_ID) AS MaxHistoryID
        FROM BalanceHistory
        WHERE LogMonth = @CurrentLogMonth
        GROUP BY Card_ID
    ) SubMax ON BH.History_ID = SubMax.MaxHistoryID
    INNER JOIN Cards C ON BH.Card_ID = C.Card_ID
    WHERE BH.LogMonth = @CurrentLogMonth;

    -- 5. Düzenli segmentte olanlar için MonthlyCredits'e (limit+bonus) kayıt ekle
    INSERT INTO MonthlyCredits (Card_ID, Citizen_ID, LimitAmount, BonusAmount, EffectiveMonth, EffectiveYear, IsRegular)
    SELECT
        C.Card_ID,
        C.Citizen_ID,
        CT.DefaultMonthlyLimit,
        CT.DefaultMonthlyLimit * @BonusRate,
        @CurrentMonth,
        @CurrentYear,
        1
    FROM Cards C
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    INNER JOIN Citizens CI ON C.Citizen_ID = CI.Citizen_ID
    INNER JOIN Segments S ON CI.Citizen_ID = S.Citizen_ID
        AND S.BasedOnMonth = @CurrentMonth
        AND S.BasedOnYear = @CurrentYear
        AND S.SegmentName = 'Düzenli'
    WHERE C.Status_ = 'Active'
      AND CI.IsActive = 1
      AND NOT EXISTS (
            SELECT 1 FROM MonthlyCredits MC
            WHERE MC.Card_ID = C.Card_ID
              AND MC.Citizen_ID = C.Citizen_ID
              AND MC.EffectiveMonth = @CurrentMonth
              AND MC.EffectiveYear = @CurrentYear
      );

    -- 6. Düzensiz segmentte olanlar için MonthlyCredits'e (sadece limit) kayıt ekle
    INSERT INTO MonthlyCredits (Card_ID, Citizen_ID, LimitAmount, BonusAmount, EffectiveMonth, EffectiveYear, IsRegular)
    SELECT
        C.Card_ID,
        C.Citizen_ID,
        CT.DefaultMonthlyLimit,
        0,
        @CurrentMonth,
        @CurrentYear,
        0
    FROM Cards C
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    INNER JOIN Citizens CI ON C.Citizen_ID = CI.Citizen_ID
    LEFT JOIN Segments S ON CI.Citizen_ID = S.Citizen_ID
        AND S.BasedOnMonth = @CurrentMonth
        AND S.BasedOnYear = @CurrentYear
    WHERE C.Status_ = 'Active'
      AND CI.IsActive = 1
      AND (S.SegmentName <> 'Düzenli' OR S.SegmentName IS NULL)
      AND NOT EXISTS (
            SELECT 1 FROM MonthlyCredits MC
            WHERE MC.Card_ID = C.Card_ID
              AND MC.Citizen_ID = C.Citizen_ID
              AND MC.EffectiveMonth = @CurrentMonth
              AND MC.EffectiveYear = @CurrentYear
      );
END

GO
/****** Object:  StoredProcedure [dbo].[SendMonthlyTopUpEmails]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SendMonthlyTopUpEmails]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentLogMonth CHAR(7) = FORMAT(GETDATE(), 'yyyy-MM');

    DECLARE 
        @FullName NVARCHAR(100),
        @Email NVARCHAR(100),
        @CardNumber CHAR(5),
        @OldBalance DECIMAL(10,2),
        @AmountAdded DECIMAL(10,2),
        @BonusAmount DECIMAL(10,2),
        @NewBalance DECIMAL(10,2),
        @bodyText NVARCHAR(MAX),
        @MailResult INT;

    -- Cursor: Bu ay bakiyesi loglanan, aktif kart ve aktif vatandaş, mail adresi dolu
    DECLARE cur CURSOR FOR
    SELECT 
        CI.FullName,
        CI.Email,
        BH.CardNumber,
        BH.OldBalance,
        CT.DefaultMonthlyLimit,
        CASE WHEN S.SegmentName = 'Düzenli' THEN CT.DefaultMonthlyLimit * 0.10 ELSE 0 END AS BonusAmount
    FROM BalanceHistory BH
    INNER JOIN Citizens CI ON BH.Citizen_ID = CI.Citizen_ID
    INNER JOIN Cards C ON BH.Card_ID = C.Card_ID
    INNER JOIN CardTypes CT ON C.CardType_ID = CT.CardType_ID
    LEFT JOIN Segments S ON CI.Citizen_ID = S.Citizen_ID
        AND S.BasedOnMonth = MONTH(GETDATE())
        AND S.BasedOnYear = YEAR(GETDATE())
    WHERE BH.LogMonth = @CurrentLogMonth
      AND CI.IsActive = 1
      AND C.Status_ = 'Active'
      AND CI.Email IS NOT NULL
      AND CI.Email <> '';

    OPEN cur;
    FETCH NEXT FROM cur INTO @FullName, @Email, @CardNumber, @OldBalance, @AmountAdded, @BonusAmount;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @NewBalance = @OldBalance + @AmountAdded + @BonusAmount;

        IF @BonusAmount > 0
        BEGIN
            SET @bodyText =
                'Sayın ' + @FullName + ',' + CHAR(13) + CHAR(10) +
                'Kart numaranız: ' + @CardNumber + ' olan kartınıza ' +
                CAST(@AmountAdded AS NVARCHAR(10)) + ' TL standart bakiye ve ' +
                CAST(@BonusAmount AS NVARCHAR(10)) + ' TL düzenli kullanım bonusu eklenmiştir.' + CHAR(13) + CHAR(10) +
                'Yeni bakiyeniz: ' + CAST(@NewBalance AS NVARCHAR(10)) + ' TL''dir.' + CHAR(13) + CHAR(10) +
                'Tebrikler! Düzenli kullanımınız nedeniyle ekstra bakiye kazandınız.' + CHAR(13) + CHAR(10) +
                'Sosyal Yardım Sistemi';
        END
        ELSE
        BEGIN
            SET @bodyText =
                'Sayın ' + @FullName + ',' + CHAR(13) + CHAR(10) +
                'Kart numaranız: ' + @CardNumber + ' olan kartınıza ' +
                CAST(@AmountAdded AS NVARCHAR(10)) + ' TL bakiye eklenmiştir.' + CHAR(13) + CHAR(10) +
                'Yeni bakiyeniz: ' + CAST(@NewBalance AS NVARCHAR(10)) + ' TL''dir.' + CHAR(13) + CHAR(10) +
                'İyi günlerde kullanmanız dileğiyle.' + CHAR(13) + CHAR(10) +
                'Sosyal Yardım Sistemi';
        END

        EXEC @MailResult = msdb.dbo.sp_send_dbmail
            @profile_name = 'SosyalYardımMailProfili',   -- Burayı testtekiyle aynı yap!
            @recipients = @Email,
            @subject = 'Kart Bakiyeniz Yenilendi',
            @body = @bodyText;

        -- Test amaçlı: sonucu PRINT et (daha sonra kendi log tablona da yazabilirsin)
        PRINT 'Mail gönderim sonucu: ' + CAST(@MailResult AS NVARCHAR(10)) + ' - ' + @Email;

        FETCH NEXT FROM cur INTO @FullName, @Email, @CardNumber, @OldBalance, @AmountAdded, @BonusAmount;
    END

    CLOSE cur;
    DEALLOCATE cur;
END

GO
/****** Object:  StoredProcedure [dbo].[SimulateTransactions]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SimulateTransactions]
    @StartDate DATE,
    @EndDate DATE,
    @TransactionCount INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Hata kontrolü için değişkenler
    DECLARE @ErrorCount INT = 0;
    DECLARE @MaxAttempts INT = @TransactionCount * 5;
    DECLARE @Attempts INT = 0;
    
    -- Geçici tablolar oluştur
    CREATE TABLE #DailyTransactions (
        Card_ID INT,
        TransactionDate DATE,
        TransactionCount INT DEFAULT 0,
        PRIMARY KEY (Card_ID, TransactionDate)
    );
    
    CREATE TABLE #MonthlySpending (
        Card_ID INT PRIMARY KEY,
        MonthlyTotal DECIMAL(18,2) DEFAULT 0
    );
    
    -- İşlem sayacı
    DECLARE @i INT = 0;
    
    WHILE @i < @TransactionCount AND @ErrorCount < @MaxAttempts
    BEGIN
        BEGIN TRY
            -- 1. Rastgele AKTİF kart seç (aktif kullanıcıya ait)
            DECLARE @Card_ID INT, @CardType_ID INT, @Citizen_ID INT, @OwnerCity NVARCHAR(100), @MonthlyLimit DECIMAL(18,2);
            
            SELECT TOP 1 
                @Card_ID = c.Card_ID,
                @CardType_ID = c.CardType_ID,
                @Citizen_ID = c.Citizen_ID,
                @OwnerCity = ci.City,
                @MonthlyLimit = c.MonthlyLimit
            FROM Cards c
            JOIN Citizens ci ON c.Citizen_ID = ci.Citizen_ID
            WHERE c.Status_ = 'Active' 
            AND ci.IsActive = 1
            ORDER BY NEWID();
            
            IF @Card_ID IS NULL
            BEGIN
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 2. Rastgele tarih + saat üret (08:00 - 21:00 arası)
            DECLARE @RandomDayOffset INT = ABS(CHECKSUM(NEWID())) % DATEDIFF(DAY, @StartDate, DATEADD(DAY, 1, @EndDate));
            DECLARE @BaseDate DATE = DATEADD(DAY, @RandomDayOffset, @StartDate);
            DECLARE @RandomDateTime DATETIME = DATEADD(SECOND, ABS(CHECKSUM(NEWID())) % 46800, CAST(@BaseDate AS DATETIME) + CAST('08:00:00' AS DATETIME));
            DECLARE @TransactionDate DATE = CAST(@RandomDateTime AS DATE);
            
            -- 3. Günlük işlem limit kontrolü (max 3)
            DECLARE @DailyTransactionCount INT;
            SELECT @DailyTransactionCount = TransactionCount 
            FROM #DailyTransactions 
            WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate;
            
            IF @DailyTransactionCount IS NULL
                SET @DailyTransactionCount = 0;
            
            IF @DailyTransactionCount >= 3
            BEGIN
                -- Bu kart için bugün limit dolmuş, başka kart seç
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 4. Aylık harcama limit kontrolü
            DECLARE @MonthlySpending DECIMAL(18,2);
            SELECT @MonthlySpending = MonthlyTotal 
            FROM #MonthlySpending 
            WHERE Card_ID = @Card_ID;
            
            IF @MonthlySpending IS NULL
                SET @MonthlySpending = 0;
            
            -- 5. Uyumlu vendor seç (şehir + kategori kart tipine uygun)
            DECLARE @Vendor_ID INT, @VendorCity NVARCHAR(100), @VendorCategory NVARCHAR(50);
            DECLARE @Amount DECIMAL(10,2);
            
            -- Tutarı aylık limiti aşmayacak şekilde belirle
            DECLARE @RemainingMonthlyLimit DECIMAL(18,2) = @MonthlyLimit - @MonthlySpending;
            
            IF @RemainingMonthlyLimit <= 0
            BEGIN
                -- Aylık limit dolmuş, başka kart seç
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- Maksimum 200-300 TL arası, ancak aylık limiti aşmayacak şekilde
            DECLARE @MaxPossibleAmount DECIMAL(10,2) = CASE 
                WHEN @RemainingMonthlyLimit < 300 THEN @RemainingMonthlyLimit 
                ELSE 300 
            END;
            
            SET @Amount = 200 + (RAND(CHECKSUM(NEWID())) * (@MaxPossibleAmount - 200));
            
            -- Vendor seç (STRING_SPLIT yerine direkt IN kullanımı)
            SELECT TOP 1 
                @Vendor_ID = v.Vendor_ID,
                @VendorCity = v.City,
                @VendorCategory = v.Category
            FROM Vendors v
            WHERE v.City = @OwnerCity
            AND (
                (@CardType_ID = 1 AND v.Category IN ('Market', 'Bakkal', 'Manav')) OR
                (@CardType_ID = 2 AND v.Category IN ('Kira', 'Emlak')) OR
                (@CardType_ID = 3 AND v.Category IN ('Eczane', 'Hastane', 'Diş Kliniği')) OR
                (@CardType_ID = 4 AND v.Category IN ('Kırtasiye', 'Kitapçı'))
            )
            ORDER BY NEWID();
            
            IF @Vendor_ID IS NULL
            BEGIN
                -- Uygun vendor bulunamadı
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 6. İşlem ekle
            INSERT INTO Transactions (Card_ID, Vendor_ID, Amount, City, TransactionDate, TransactionType)
            VALUES (@Card_ID, @Vendor_ID, @Amount, @VendorCity, @RandomDateTime, 'Purchase');
            
            -- Geçici tabloları güncelle
            -- Günlük işlem sayacı
            IF EXISTS (SELECT 1 FROM #DailyTransactions WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate)
                UPDATE #DailyTransactions 
                SET TransactionCount = TransactionCount + 1
                WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate;
            ELSE
                INSERT INTO #DailyTransactions (Card_ID, TransactionDate, TransactionCount)
                VALUES (@Card_ID, @TransactionDate, 1);
            
            -- Aylık harcama toplamı
            IF EXISTS (SELECT 1 FROM #MonthlySpending WHERE Card_ID = @Card_ID)
                UPDATE #MonthlySpending 
                SET MonthlyTotal = MonthlyTotal + @Amount
                WHERE Card_ID = @Card_ID;
            ELSE
                INSERT INTO #MonthlySpending (Card_ID, MonthlyTotal)
                VALUES (@Card_ID, @Amount);
            
            SET @i += 1;
            SET @Attempts = 0;
        END TRY
        BEGIN CATCH
            SET @ErrorCount += 1;
            IF @Attempts > @MaxAttempts
                BREAK;
        END CATCH
    END
    
    -- Geçici tabloları temizle
    DROP TABLE #DailyTransactions;
    DROP TABLE #MonthlySpending;
    
    -- Sonuç bilgisi
    SELECT 
        @i AS 'SuccessfullyCreatedTransactions',
        @ErrorCount AS 'FailedAttempts';
END
GO
/****** Object:  StoredProcedure [dbo].[SimulateTransactions_RandomVendors]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SimulateTransactions_RandomVendors]
    @StartDate DATE,
    @EndDate DATE,
    @TransactionCount INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Hata kontrolü için değişkenler
    DECLARE @ErrorCount INT = 0;
    DECLARE @MaxAttempts INT = @TransactionCount * 5;
    DECLARE @Attempts INT = 0;
    
    -- Geçici tablolar oluştur
    CREATE TABLE #DailyTransactions (
        Card_ID INT,
        TransactionDate DATE,
        TransactionCount INT DEFAULT 0,
        PRIMARY KEY (Card_ID, TransactionDate)
    );
    
    CREATE TABLE #MonthlySpending (
        Card_ID INT PRIMARY KEY,
        MonthlyTotal DECIMAL(18,2) DEFAULT 0
    );
    
    -- İşlem sayacı
    DECLARE @i INT = 0;
    
    WHILE @i < @TransactionCount AND @ErrorCount < @MaxAttempts
    BEGIN
        BEGIN TRY
            -- 1. Rastgele AKTİF kart seç (aktif kullanıcıya ait)
            DECLARE @Card_ID INT, @CardType_ID INT, @Citizen_ID INT, @OwnerCity NVARCHAR(100), @MonthlyLimit DECIMAL(18,2);
            
            -- Rastgele limit ataması yap (0-2000 arası)
            DECLARE @RandomLimit DECIMAL(18,2) = ROUND(RAND(CHECKSUM(NEWID())) * 2000, 2);
            
            SELECT TOP 1 
                @Card_ID = c.Card_ID,
                @CardType_ID = c.CardType_ID,
                @Citizen_ID = c.Citizen_ID,
                @OwnerCity = ci.City,
                @MonthlyLimit = @RandomLimit -- Mevcut limit yerine rastgele limit kullan
            FROM Cards c
            JOIN Citizens ci ON c.Citizen_ID = ci.Citizen_ID
            WHERE c.Status_ = 'Active' 
            AND ci.IsActive = 1
            ORDER BY NEWID();
            
            IF @Card_ID IS NULL
            BEGIN
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 2. Rastgele tarih + saat üret (08:00 - 21:00 arası)
            DECLARE @RandomDayOffset INT = ABS(CHECKSUM(NEWID())) % DATEDIFF(DAY, @StartDate, DATEADD(DAY, 1, @EndDate));
            DECLARE @BaseDate DATE = DATEADD(DAY, @RandomDayOffset, @StartDate);
            DECLARE @RandomDateTime DATETIME = DATEADD(SECOND, ABS(CHECKSUM(NEWID())) % 46800, CAST(@BaseDate AS DATETIME) + CAST('08:00:00' AS DATETIME));
            DECLARE @TransactionDate DATE = CAST(@RandomDateTime AS DATE);
            
            -- 3. Günlük işlem limit kontrolü (max 3)
            DECLARE @DailyTransactionCount INT;
            SELECT @DailyTransactionCount = TransactionCount 
            FROM #DailyTransactions 
            WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate;
            
            IF @DailyTransactionCount IS NULL
                SET @DailyTransactionCount = 0;
            
            IF @DailyTransactionCount >= 3
            BEGIN
                -- Bu kart için bugün limit dolmuş, başka kart seç
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 4. Aylık harcama limit kontrolü
            DECLARE @MonthlySpending DECIMAL(18,2);
            SELECT @MonthlySpending = MonthlyTotal 
            FROM #MonthlySpending 
            WHERE Card_ID = @Card_ID;
            
            IF @MonthlySpending IS NULL
                SET @MonthlySpending = 0;
            
            -- 5. TAMAMEN RASTGELE vendor seç (şehir ve kategori kısıtlaması olmadan)
            DECLARE @Vendor_ID INT, @VendorCity NVARCHAR(100), @VendorCategory NVARCHAR(50);
            DECLARE @Amount DECIMAL(10,2);
            
            -- Tutarı aylık limiti aşmayacak şekilde belirle
            DECLARE @RemainingMonthlyLimit DECIMAL(18,2) = @MonthlyLimit - @MonthlySpending;
            
            -- Rastgele tutar (1-1000 arası)
            SET @Amount = 1 + (RAND(CHECKSUM(NEWID())) * 999);
            
            -- Eğer kalan limit tutardan azsa, tutarı kalan limite ayarla
            IF @RemainingMonthlyLimit < @Amount
                SET @Amount = @RemainingMonthlyLimit;
            
            -- Limit kontrolü (0 limitli kartlar için)
            IF @Amount <= 0 OR @MonthlyLimit = 0
            BEGIN
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- TAMAMEN RASTGELE vendor seç (hiçbir kısıtlama olmadan)
            SELECT TOP 1 
                @Vendor_ID = v.Vendor_ID,
                @VendorCity = v.City,
                @VendorCategory = v.Category
            FROM Vendors v
            ORDER BY NEWID();
            
            IF @Vendor_ID IS NULL
            BEGIN
                -- Vendor bulunamadı (çok düşük ihtimal)
                SET @ErrorCount += 1;
                CONTINUE;
            END
            
            -- 6. İşlem ekle
            INSERT INTO Transactions (Card_ID, Vendor_ID, Amount, City, TransactionDate, TransactionType)
            VALUES (@Card_ID, @Vendor_ID, @Amount, @VendorCity, @RandomDateTime, 'Purchase');
            
            -- Geçici tabloları güncelle
            -- Günlük işlem sayacı
            IF EXISTS (SELECT 1 FROM #DailyTransactions WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate)
                UPDATE #DailyTransactions 
                SET TransactionCount = TransactionCount + 1
                WHERE Card_ID = @Card_ID AND TransactionDate = @TransactionDate;
            ELSE
                INSERT INTO #DailyTransactions (Card_ID, TransactionDate, TransactionCount)
                VALUES (@Card_ID, @TransactionDate, 1);
            
            -- Aylık harcama toplamı
            IF EXISTS (SELECT 1 FROM #MonthlySpending WHERE Card_ID = @Card_ID)
                UPDATE #MonthlySpending 
                SET MonthlyTotal = MonthlyTotal + @Amount
                WHERE Card_ID = @Card_ID;
            ELSE
                INSERT INTO #MonthlySpending (Card_ID, MonthlyTotal)
                VALUES (@Card_ID, @Amount);
            
            SET @i += 1;
            SET @Attempts = 0;
            
            -- Hata üretmek için rastgele limit sıfırlama
            IF RAND() < 0.1 -- %10 ihtimalle limiti sıfırla
            BEGIN
                UPDATE #MonthlySpending 
                SET MonthlyTotal = @MonthlyLimit 
                WHERE Card_ID = @Card_ID;
            END
        END TRY
        BEGIN CATCH
            SET @ErrorCount += 1;
            IF @Attempts > @MaxAttempts
                BREAK;
        END CATCH
    END
    
    -- Geçici tabloları temizle
    DROP TABLE #DailyTransactions;
    DROP TABLE #MonthlySpending;
    
    -- Sonuç bilgisi
    SELECT 
        @i AS 'SuccessfullyCreatedTransactions',
        @ErrorCount AS 'FailedAttempts',
        CASE 
            WHEN @ErrorCount > 0 THEN 'Hata üretildi: Rastgele limitler ve vendor seçimi nedeniyle bazı işlemler başarısız oldu'
            ELSE 'Tüm işlemler başarıyla oluşturuldu'
        END AS 'StatusMessage';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckExcessiveViolators]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CheckExcessiveViolators]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Year INT = YEAR(GETDATE());
    DECLARE @Month INT = MONTH(GETDATE());

    -- 1. MonthlyViolations tablosunu Card_ID ile güncelle (MERGE ile)
    MERGE MonthlyViolations AS mv
    USING (
        SELECT c.Citizen_ID, cr.Card_ID, @Year AS Year, @Month AS Month, COUNT(*) AS ViolationCount
        FROM Flags f
        JOIN Cards cr ON f.Card_ID = cr.Card_ID
        JOIN Citizens c ON cr.Citizen_ID = c.Citizen_ID
        WHERE MONTH(f.ViolationDate) = @Month AND YEAR(f.ViolationDate) = @Year
        GROUP BY c.Citizen_ID, cr.Card_ID
    ) AS src
    ON (mv.Citizen_ID = src.Citizen_ID AND mv.Card_ID = src.Card_ID AND mv.Year = src.Year AND mv.Month = src.Month)
    WHEN MATCHED THEN
        UPDATE SET ViolationCount = src.ViolationCount, LastUpdated = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (Citizen_ID, Card_ID, Year, Month, ViolationCount, LastUpdated)
        VALUES (src.Citizen_ID, src.Card_ID, src.Year, src.Month, src.ViolationCount, GETDATE());

    -- 2. Fazla ihlal yapanlara alert ekle
    INSERT INTO Alerts (Citizen_ID, AlertDate, AlertType, Message, IsSent)
    SELECT 
        mv.Citizen_ID,
        GETDATE(),
        'Kart İptali',
        'Bu ay 5’ten fazla ihlal yaptığınız için kartınız geçici olarak askıya alınmıştır.',
        0
    FROM MonthlyViolations mv
    WHERE mv.Year = @Year AND mv.Month = @Month AND mv.ViolationCount >= 6
    AND NOT EXISTS (
        SELECT 1 FROM Alerts a
        WHERE a.Citizen_ID = mv.Citizen_ID 
        AND a.AlertType = 'Kart İptali'
        AND MONTH(a.AlertDate) = @Month
        AND YEAR(a.AlertDate) = @Year
    );

    -- 3. Fazla ihlalli kartları pasif yap
    UPDATE cr
    SET cr.Status_ = 'Passive'
    FROM Cards cr
    JOIN MonthlyViolations mv ON cr.Card_ID = mv.Card_ID
    WHERE mv.Year = @Year AND mv.Month = @Month AND mv.ViolationCount >= 6 AND cr.Status_ = 'Active';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlyCardSpending]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MonthlyCardSpending]
    @ReportMonth CHAR(7) = NULL  -- 'yyyy-MM' formatında, parametre verilmezse bugünkü ay kullanılır
AS
BEGIN
    SET NOCOUNT ON;

    IF @ReportMonth IS NULL
        SET @ReportMonth = FORMAT(GETDATE(), 'yyyy-MM');

    DECLARE @StartDate DATE = CAST(@ReportMonth + '-01' AS DATE);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);
    DECLARE @PrevMonthChar CHAR(7) = FORMAT(DATEADD(MONTH, -1, @StartDate), 'yyyy-MM');

    BEGIN TRY
        BEGIN TRANSACTION;

        ---------------------------------------------------------------------
        -- 2) İşlenecek kart listesini oluştur
        --    - O ay aktif olan kartlar (ör. Cards.Status_ = 'Active' ya da IsActive = 1)
        --    - veya o ay içinde transaction yapan kartlar
        ---------------------------------------------------------------------
        ;WITH CardsToProcess AS (
            SELECT DISTINCT c.Card_ID, c.CardNumber
            FROM Cards c
            WHERE ( /* aktiflik kontrolü : ihtiyacınıza göre değiştirin */
                    (TRY_CAST(c.Status_ AS VARCHAR(50)) = 'Active') 
                  )
               OR EXISTS (
                    SELECT 1 FROM Transactions t
                    WHERE t.Card_ID = c.Card_ID
                      AND t.TransactionDate >= @StartDate
                      AND t.TransactionDate < @EndDate
                )
        ),

        -- 3) Bu ay için balance history (curr) varsa getir; prev için son loglanmış kaydı al
        CurrWithPrev AS (
            SELECT 
                bh.Card_ID,
                bh.CardNumber,
                bh.LogMonth AS CurrLogMonth,
                bh.OldBalance AS CurrOldBalance,
                bh.NewBalance AS CurrNewBalance,
                bh.LoggedAt AS CurrLoggedAt,
                prev.NewBalance AS PrevNewBalance,
                prev.LogMonth  AS PrevLogMonth
            FROM BalanceHistory bh
            OUTER APPLY (
                SELECT TOP (1) bh2.NewBalance, bh2.LogMonth, bh2.LoggedAt
                FROM BalanceHistory bh2
                WHERE bh2.Card_ID = bh.Card_ID
                  AND bh2.LoggedAt < bh.LoggedAt
                ORDER BY bh2.LoggedAt DESC
            ) prev
            WHERE bh.LogMonth = @ReportMonth
        ),

        -- 4) O ayın transaction toplamları (Completed)
        TxSums AS (
            SELECT 
                t.Card_ID,
                SUM(t.Amount) AS TxTotal
            FROM Transactions t
            WHERE t.TransactionDate >= @StartDate
              AND t.TransactionDate < @EndDate
              AND t.Status = 'Completed'
            GROUP BY t.Card_ID
        ),

        -- 5) Hesaplanan verileri geçici bir tabloda topla
        CalculatedData AS (
            SELECT
                @ReportMonth AS ReportMonth,
                c.Card_ID,
                c.CardNumber,
                -- SpendingAmount hesaplama:
                CASE 
                    WHEN cp.Card_ID IS NOT NULL
                         AND cp.PrevNewBalance IS NOT NULL
                         AND cp.PrevLogMonth = @PrevMonthChar
                         AND (cp.PrevNewBalance - cp.CurrOldBalance) > 0
                    THEN cp.PrevNewBalance - cp.CurrOldBalance            -- (A) balance-diff
                    WHEN ISNULL(ts.TxTotal, 0) > 0
                    THEN ISNULL(ts.TxTotal, 0)                            -- (B) transactions toplamı
                    ELSE 0                                                -- (C) 0
                END AS SpendingAmount,
                -- Note alanı
                CASE
                    WHEN cp.Card_ID IS NOT NULL
                         AND cp.PrevNewBalance IS NOT NULL
                         AND cp.PrevLogMonth = @PrevMonthChar
                         AND (cp.PrevNewBalance - cp.CurrOldBalance) > 0
                    THEN N'Para harcanmıştır (balance farkından hesaplandı)'
                    WHEN ISNULL(ts.TxTotal, 0) > 0
                    THEN N'Para harcanmıştır (transactions toplamından hesaplandı)'
                    ELSE N'Bu ay kart kullanılmamıştır'
                END AS Note
            FROM CardsToProcess c
            LEFT JOIN CurrWithPrev cp ON c.Card_ID = cp.Card_ID
            LEFT JOIN TxSums ts ON c.Card_ID = ts.Card_ID
        )

        ---------------------------------------------------------------------
        -- 6) Mevcut kayıtları güncelle, yoksa yeni ekle (UPSERT)
        ---------------------------------------------------------------------
        MERGE INTO MonthlyCardSpending AS target
        USING CalculatedData AS source
        ON target.ReportMonth = source.ReportMonth AND target.Card_ID = source.Card_ID
        
        WHEN MATCHED THEN
            UPDATE SET 
                target.SpendingAmount = source.SpendingAmount,
                target.Note = source.Note,
                target.CardNumber = source.CardNumber  -- CardNumber değişmiş olabilir
                
        WHEN NOT MATCHED THEN
            INSERT (ReportMonth, Card_ID, CardNumber, SpendingAmount, Note)
            VALUES (source.ReportMonth, source.Card_ID, source.CardNumber, source.SpendingAmount, source.Note);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('sp_MonthlyCardSpending hata: %s', 16, 1, @ErrMsg);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SendFraudAlerts]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SendFraudAlerts]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Citizen_ID INT,
            @Email NVARCHAR(100),
            @FullName NVARCHAR(200),
            @AlertDate DATETIME,
            @AlertType NVARCHAR(50),
            @Message NVARCHAR(300),
            @AlertID INT,
            @HtmlBody NVARCHAR(MAX),
            @Subject NVARCHAR(200);

    -- Gönderilmemiş uyarıları çek
    DECLARE AlertCursor CURSOR FOR
    SELECT 
        A.Alert_ID,
        A.Citizen_ID,
        C.Email,
        C.FullName,
        A.AlertDate,
        A.AlertType,
        A.Message
    FROM Alerts A
    JOIN Citizens C ON A.Citizen_ID = C.Citizen_ID
    WHERE A.IsSent = 0;

    OPEN AlertCursor;

    FETCH NEXT FROM AlertCursor 
    INTO @AlertID, @Citizen_ID, @Email, @FullName, @AlertDate, @AlertType, @Message;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @AlertType = 'Kart İptali'
        BEGIN
            SET @Subject = N'Sosyal Yardım – Kartınız Askıya Alındı';
            SET @HtmlBody = '
            <html>
                <body style="font-family:Arial; font-size:14px;">
                    <h2 style="color:#d32f2f;">Sayın ' + @FullName + ',</h2>
                    <p>' + CONVERT(NVARCHAR, @AlertDate, 120) + ' itibarıyla yapılan değerlendirme sonucunda bu ay içerisinde 5''ten fazla kural ihlali gerçekleştirdiğiniz tespit edilmiştir.</p>
                    <p><strong>Bu nedenle sosyal yardım kartınız geçici olarak askıya alınmıştır.</strong></p>
                    <p>Bir sonraki ay kurallara uyduğunuz takdirde kartınız otomatik olarak tekrar aktif edilecektir.</p>
                    <hr />
                    <p style="font-size:12px; color:#888;">Bu mesaj, Sosyal Yardım İzleme Sistemi tarafından otomatik olarak gönderilmiştir.</p>
                </body>
            </html>
            ';
        END
        ELSE
        BEGIN
            SET @Subject = N'Sosyal Yardım – Kural İhlali Bildirimi';
            SET @HtmlBody = '
            <html>
                <body style="font-family:Arial; font-size:14px;">
                    <h2 style="color:#d32f2f;">Sayın ' + @FullName + ',</h2>
                    <p>' + CONVERT(NVARCHAR, @AlertDate, 120) + ' tarihinde yaptığınız işlemde aşağıdaki kural ihlal edilmiştir:</p>
                    <div style="background-color:#f8d7da; padding:10px; border-radius:5px; border:1px solid #f5c6cb;">
                        <strong>' + @AlertType + ':</strong> ' + @Message + '
                    </div>
                    <p>Lütfen işlemlerinizi belirlenen kurallar çerçevesinde yapmaya özen gösteriniz.</p>
                    <hr />
                    <p style="font-size:12px; color:#888;">Bu mesaj, Sosyal Yardım İzleme Sistemi tarafından otomatik olarak gönderilmiştir.</p>
                </body>
            </html>
            ';
        END

        -- Mail Gönderimi
        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'SosyalYardımMailProfili',
            @recipients = @Email,
            @subject = @Subject,
            @body = @HtmlBody,
            @body_format = 'HTML';

        -- Mail gönderildi olarak işaretle
        UPDATE Alerts
        SET IsSent = 1
        WHERE Alert_ID = @AlertID;

        FETCH NEXT FROM AlertCursor 
        INTO @AlertID, @Citizen_ID, @Email, @FullName, @AlertDate, @AlertType, @Message;
    END;

    CLOSE AlertCursor;
    DEALLOCATE AlertCursor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSegments]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateSegments]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @Month INT = MONTH(GETDATE()),
        @Year INT = YEAR(GETDATE()),
        @StartDate DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);

    -- Son 30 gün içinde yapılan ihlaller
    WITH FlagCounts AS (
        SELECT 
            c.Citizen_ID,
            COUNT(*) AS ViolationCount
        FROM Flags f
        JOIN Cards c ON f.Card_ID = c.Card_ID
        WHERE f.ViolationDate >= @StartDate
        GROUP BY c.Citizen_ID
    ),
    CityMovements AS (
        SELECT 
            c.Citizen_ID,
            COUNT(DISTINCT t.City) AS CityCount
        FROM Transactions t
        JOIN Cards c ON t.Card_ID = c.Card_ID
        WHERE t.TransactionDate >= @StartDate
        GROUP BY c.Citizen_ID
    ),
    SegmentData AS (
        SELECT 
            ci.Citizen_ID,
            CASE 
                WHEN ISNULL(fc.ViolationCount, 0) = 0 THEN 'Düzenli'
                WHEN ISNULL(fc.ViolationCount, 0) <= 2 THEN 'Riskli'
                WHEN ISNULL(fc.ViolationCount, 0) > 2 OR ISNULL(cm.CityCount, 1) > 1 THEN 'Anormal'
                ELSE 'Düzenli'
            END AS SegmentName
        FROM Citizens ci
        LEFT JOIN FlagCounts fc ON ci.Citizen_ID = fc.Citizen_ID
        LEFT JOIN CityMovements cm ON ci.Citizen_ID = cm.Citizen_ID
    )

    -- MERGE ile ekleme/güncelleme
    MERGE Segments AS target
    USING SegmentData AS source
    ON target.Citizen_ID = source.Citizen_ID
       AND target.BasedOnMonth = @Month
       AND target.BasedOnYear = @Year
    WHEN MATCHED THEN
        UPDATE SET 
            SegmentName = source.SegmentName,
            CreatedAt = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (Citizen_ID, SegmentName, BasedOnMonth, BasedOnYear, CreatedAt)
        VALUES (source.Citizen_ID, source.SegmentName, @Month, @Year, GETDATE());
END;
GO
/****** Object:  Trigger [dbo].[trg_UpdateLastUseDate]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdateLastUseDate]
ON [dbo].[Transactions]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE C
    SET LastUsedDate = I.TransactionDate
    FROM Cards C
    JOIN inserted I ON C.Card_ID = I.Card_ID
    WHERE I.Status = 'Completed';  -- Sadece başarılı işlemlerde güncellesin
END;

GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [trg_UpdateLastUseDate]
GO
/****** Object:  Trigger [dbo].[trg_ValidateTransactions]    Script Date: 5.02.2026 02:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_ValidateTransactions]
ON [dbo].[Transactions]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Geçici işlem tablosu
        DECLARE @ProcessingTable TABLE (
            Transaction_ID INT PRIMARY KEY,
            Card_ID INT,
            Amount DECIMAL(18,2),
            VendorCategory NVARCHAR(50),
            City NVARCHAR(50),
            TransactionDate DATETIME,
            CardType_ID INT,
            MonthlyLimit DECIMAL(18,2),
            CurrentBalance DECIMAL(18,2),
            OwnerCity NVARCHAR(100),
            Citizen_ID INT,
            RuleViolations NVARCHAR(MAX)
        );

        -- inserted ile verileri çek
        INSERT INTO @ProcessingTable
        SELECT 
            i.Transaction_ID,
            i.Card_ID,
            i.Amount,
            v.Category,
            i.City,
            CAST(i.TransactionDate AS DATETIME),
            c.CardType_ID,
            ct.DefaultMonthlyLimit,
            c.CurrentBalance,
            ci.City,
            ci.Citizen_ID,
            ''
        FROM inserted i
        JOIN Cards c ON i.Card_ID = c.Card_ID
        JOIN CardTypes ct ON c.CardType_ID = ct.CardType_ID
        JOIN Vendors v ON i.Vendor_ID = v.Vendor_ID
        JOIN Citizens ci ON c.Citizen_ID = ci.Citizen_ID
        WHERE i.TransactionType = 'Purchase';

        -- Detaylı ihlal tablosu: her ihlal ayrı satır
        DECLARE @DetailedViolations TABLE (
            Transaction_ID INT,
            Rule_ID INT,
            Reason NVARCHAR(200),
            Severity NVARCHAR(20)
        );

        ---------------------------
        -- KURAL 1: Citizen aktifliği
        ---------------------------
        INSERT INTO @DetailedViolations
        SELECT
            p.Transaction_ID,
            tr.Rule_ID,
            'Kullanıcı aktif değil.',
            tr.Severity
        FROM @ProcessingTable p
        CROSS JOIN TransactionRules tr
        WHERE tr.RuleType = 'CitizenActiveCheck'
        AND tr.IsActive = 1
        AND EXISTS (
            SELECT 1 FROM Citizens ci WHERE ci.Citizen_ID = p.Citizen_ID AND ci.IsActive = 0
        );

        ---------------------------
        -- KURAL 2: Kart aktifliği
        ---------------------------
        INSERT INTO @DetailedViolations
        SELECT
            p.Transaction_ID,
            tr.Rule_ID,
            'Kart aktif değil.',
            tr.Severity
        FROM @ProcessingTable p
        CROSS JOIN TransactionRules tr
        WHERE tr.RuleType = 'CardActiveCheck'
        AND tr.IsActive = 1
        AND EXISTS (
            SELECT 1 FROM Cards c WHERE c.Card_ID = p.Card_ID AND c.Status_ <> 'Active'
        );

        -------------------------------
        -- Diğer kurallar (aktiflik ihlal yoksa)
        -------------------------------
        -- Eğer yukarıda ihlal oluşmadıysa diğer kurallara bakılır!
        -- Günlük işlem limiti
        INSERT INTO @DetailedViolations
        SELECT 
            p.Transaction_ID,
            r.Rule_ID,
            r.RuleName,
            r.Severity
        FROM @ProcessingTable p
        JOIN TransactionRules r 
            ON r.RuleType = 'DailyLimit' 
            AND r.IsActive = 1
        WHERE (
            1 + (
                SELECT COUNT(*) 
                FROM Transactions t
                WHERE t.Card_ID = p.Card_ID
                AND CAST(t.TransactionDate AS DATE) = CAST(p.TransactionDate AS DATE)
                AND t.Status = 'Completed'
            )
        ) > CAST(r.RuleValue AS INT)
        AND NOT EXISTS (
            SELECT 1 FROM @DetailedViolations dv WHERE dv.Transaction_ID = p.Transaction_ID
        );

        -- Aylık harcama limiti
        INSERT INTO @DetailedViolations
        SELECT 
            p.Transaction_ID,
            r.Rule_ID,
            r.RuleName,
            r.Severity
        FROM @ProcessingTable p
        JOIN TransactionRules r ON r.RuleType = 'MonthlyLimit' AND r.IsActive = 1
        WHERE (
            p.Amount + (
                SELECT ISNULL(SUM(Amount), 0) 
                FROM Transactions t
                WHERE t.Card_ID = p.Card_ID
                AND MONTH(t.TransactionDate) = MONTH(GETDATE())
                AND YEAR(t.TransactionDate) = YEAR(GETDATE())
                AND t.Status = 'Completed'
                AND t.Transaction_ID <> p.Transaction_ID
            )
        ) > p.MonthlyLimit
        AND NOT EXISTS (
            SELECT 1 FROM @DetailedViolations dv WHERE dv.Transaction_ID = p.Transaction_ID
        );

        -- Kart sahibinin şehir dışı
        INSERT INTO @DetailedViolations
        SELECT 
            p.Transaction_ID,
            r.Rule_ID,
            r.RuleName,
            r.Severity
        FROM @ProcessingTable p
        JOIN TransactionRules r ON r.RuleType = 'LocationCheck' AND r.IsActive = 1
        WHERE p.City <> p.OwnerCity
        AND NOT EXISTS (
            SELECT 1 FROM @DetailedViolations dv WHERE dv.Transaction_ID = p.Transaction_ID
        );

        -- Kart tipine göre izinli kategori kontrolü
        INSERT INTO @DetailedViolations
        SELECT 
            p.Transaction_ID,
            r.Rule_ID,
            'İzinsiz kategori: ' + p.VendorCategory,
            r.Severity
        FROM @ProcessingTable p
        JOIN TransactionRules r 
            ON r.RuleType = 'AllowedCategories' 
            AND r.IsActive = 1
            AND r.AppliesToCardType_ID = p.CardType_ID
        WHERE NOT EXISTS (
            SELECT 1
            FROM STRING_SPLIT(r.RuleValue, ',') AS allowed
            WHERE LTRIM(RTRIM(allowed.value)) = LTRIM(RTRIM(p.VendorCategory))
        )
        AND NOT EXISTS (
            SELECT 1 FROM @DetailedViolations dv WHERE dv.Transaction_ID = p.Transaction_ID
        );

        --------------------------
        -- Violations to text
        --------------------------
        UPDATE p
        SET RuleViolations = v.AllReasons
        FROM @ProcessingTable p
        JOIN (
            SELECT Transaction_ID, STRING_AGG(Reason, ', ') AS AllReasons
            FROM @DetailedViolations
            GROUP BY Transaction_ID
        ) v ON p.Transaction_ID = v.Transaction_ID;

        -----------------------------------
        -- Transactions tablosunu güncelle
        -----------------------------------
        UPDATE t
        SET 
            PreviousBalance = p.CurrentBalance,
            NewBalance = CASE 
                WHEN v.Transaction_ID IS NULL AND p.CurrentBalance >= p.Amount 
                THEN p.CurrentBalance - p.Amount 
                ELSE p.CurrentBalance 
            END,
            Status = CASE 
                WHEN v.Transaction_ID IS NULL AND p.CurrentBalance >= p.Amount 
                THEN 'Completed' 
                ELSE 'Failed' 
            END,
            IsFraudSuspected = CASE 
                WHEN v.Transaction_ID IS NOT NULL OR p.CurrentBalance < p.Amount 
                THEN 1 ELSE 0 
            END,
            RuleViolations = p.RuleViolations
        FROM Transactions t
        JOIN @ProcessingTable p ON t.Transaction_ID = p.Transaction_ID
        LEFT JOIN (
            SELECT DISTINCT Transaction_ID FROM @DetailedViolations
        ) v ON t.Transaction_ID = v.Transaction_ID;

        -------------------------------
        -- Flags tablosuna ihlalleri ekle
        -------------------------------
        INSERT INTO Flags (Transaction_ID, Rule_ID, Card_ID, ViolationDate, ViolationDetail, Severity, Resolved)
        SELECT 
            dv.Transaction_ID,
            dv.Rule_ID,
            p.Card_ID,
            p.TransactionDate,
            dv.Reason,
            dv.Severity,
            0
        FROM @DetailedViolations dv
        JOIN @ProcessingTable p ON p.Transaction_ID = dv.Transaction_ID;

        -- Alerts tablosuna ihlal kaydı düş
        INSERT INTO Alerts (Citizen_ID, AlertDate, AlertType, Message, IsSent)
        SELECT 
            p.Citizen_ID,
            t.TransactionDate,
            'Kural İhlali',
            'Sayın kullanıcı, ' + 
                FORMAT(t.TransactionDate, 'dd.MM.yyyy HH:mm') + 
                ' tarihinde yaptığınız işlem şu ihlalleri içeriyor: ' + ISNULL(p.RuleViolations, ''),
            0
        FROM @ProcessingTable p
        JOIN Transactions t ON p.Transaction_ID = t.Transaction_ID
        WHERE EXISTS (
            SELECT 1 
            FROM @DetailedViolations dv 
            WHERE dv.Transaction_ID = p.Transaction_ID
        );

        -------------------------------
        -- Başarılı işlemler için bakiye düş
        -------------------------------
        UPDATE c
        SET CurrentBalance = c.CurrentBalance - p.Amount
        FROM Cards c
        JOIN @ProcessingTable p ON c.Card_ID = p.Card_ID
        LEFT JOIN (
            SELECT DISTINCT Transaction_ID FROM @DetailedViolations
        ) v ON p.Transaction_ID = v.Transaction_ID
        WHERE v.Transaction_ID IS NULL
        AND p.CurrentBalance >= p.Amount;

        -----------------------------------
        -- Aylık Kart + Vendor harcamaları
        -----------------------------------
        ;WITH CompletedTx AS (
            SELECT  
                p.Card_ID,
                t.Vendor_ID,
                FORMAT(t.TransactionDate, 'yyyy-MM') AS ReportMonth,
                c.CardNumber,
                v.VendorName,
                p.Amount
            FROM @ProcessingTable p
            JOIN Transactions t ON p.Transaction_ID = t.Transaction_ID
            JOIN Cards c ON p.Card_ID = c.Card_ID
            JOIN Vendors v ON t.Vendor_ID = v.Vendor_ID
            LEFT JOIN (
                SELECT DISTINCT Transaction_ID 
                FROM @DetailedViolations
            ) dv ON p.Transaction_ID = dv.Transaction_ID
            WHERE dv.Transaction_ID IS NULL -- ihlal yok
              AND p.CurrentBalance >= p.Amount -- bakiye yeterli
        )
        MERGE MonthlyVendorSpending AS target
        USING CompletedTx AS src
        ON target.ReportMonth = src.ReportMonth
           AND target.Card_ID = src.Card_ID
           AND target.Vendor_ID = src.Vendor_ID
        WHEN MATCHED THEN
            UPDATE SET SpendingAmount = target.SpendingAmount + src.Amount
        WHEN NOT MATCHED THEN
            INSERT (ReportMonth, Card_ID, Vendor_ID, CardNumber, VendorName, SpendingAmount)
            VALUES (src.ReportMonth, src.Card_ID, src.Vendor_ID, src.CardNumber, src.VendorName, src.Amount);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('İşlem doğrulama hatası: %s', 16, 1, @ErrorMessage);
    END CATCH
END;
GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [trg_ValidateTransactions]
GO
